<template>
  <form class="block" @submit.prevent="save">

    <div v-if="error" class="text-xl text-red-400 mb-2">{{ error }}</div>

    <input type="text" v-model="editUser.firstName" :class="{error: errorOn('firstName') }" />
    <div class="error" v-for="err in errorOn('firstName')" :key="err">{{ err }}</div>

    <input type="text" v-model="editUser.lastName" :class="{error: errorOn('lastName') }"/>
    <div class="error" v-for="err in errorOn('lastName')" :key="err">{{ err }}</div>

    <div class="flex justify-between">
      <router-link class="back" :to="{ name: 'Users'}">&larr; Back</router-link>
      <button>Save</button>
    </div>
  </form>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { PublicUser, ValidationError } from "../../../shared/models";
import UserService from "../services/UserService";

@Component({})
export default class UserEdit extends Vue {
  @Prop() readonly user!: PublicUser;

  editUser = {firstName: '', lastName: ''} as PublicUser;
  error: string | null = null;
  errors: ValidationError<PublicUser>[] | null = null;

  mounted() {
    this.editUser = {...this.user};
  }

  async save() {
    try {
      this.error = null;
      await UserService.saveUser(this.editUser);
      this.$router.push({ name: 'Users' });
    } catch (error) {
      if (error.response) {
        console.error('Error adding user; Not valid');
        this.error = "Please check the fields";
        this.errors = error.response.data as ValidationError<PublicUser>[];
      } else {
        console.error('Error adding user', error);
        this.error = error;
      }
    }
  }

  errorOn(property: string) {
    if (!this.errors) { return null; }
    const fieldError = this.errors.find((s: ValidationError<PublicUser>) => s.property == property);
    if (!fieldError) { return null; }
    return fieldError.constraints;
  }
};
</script>

<style scoped lang="scss">
.back {
  @apply inline-block border border-gray-300 rounded px-8 py-3;
}
div.error {
  @apply text-sm text-red-400 mb-2 -mt-2;
}
input {
  @apply w-full border border-gray-300 rounded px-4 py-3 mb-2;
  &.error {
    @apply border-2 border-red-400 text-red-400;
  }
}
button {
  @apply border border-gray-300 bg-blue-300 rounded px-8 py-3;
}
</style>