<template>
  <div id="app">
    <div id="nav" class="fixed w-full p-4 text-white bg-gray-800">
      <ul>
        <li><router-link to="/">Home</router-link></li>
        <li><router-link to="/users">Users</router-link></li>
        <li><router-link to="/about">About</router-link></li>
      </ul>
    </div>
    <div class="pb-16"></div>
    <div class="px-4 pb-8">
      <router-view />
    </div>
  </div>
</template>
<style lang="scss" scoped>
ul {
  @apply flex;
  li a {
    @apply py-2 px-4;
  }
}
</style>
