<template>
  <div class="about">
    <div v-if="user" class="flex flex-col justify-center">
      <div class="mb-4 inline-block text-center">
        <img class="inline-block h-32 w-32 rounded-full text-white shadow-solid mb-4" :src="avatarUrl(user)" />
        <div>{{ user.firstName }} {{ user.lastName }}</div>
      </div>
      <UserEdit :user="user" />
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { PublicUser } from "@/../../shared/models";
import UserService from "@/services/UserService";
import UserEdit from "../components/UserEdit.vue";

@Component({
  components: {
    UserEdit,
  }
})
export default class Home extends Vue {
  user: PublicUser | null = null;

  get userId() {
    return +this.$route.params.id;
  }
  async mounted() {
    this.user = await UserService.loadUser(this.userId);
  }
  avatarUrl(user: PublicUser) {
    return `https://i.pravatar.cc/150?img=${user.id}`;
  }
}
</script>
