<template>
  <div class="about">
    <h1>This is a users page</h1>
    <router-link class="button" :to="{ name: 'AddUser' }">Add</router-link>
    <div v-if="users">
      <router-link :to="{ name: 'User', params: { id: user.id } }" v-for="user in users" :key="user.id" class="block py-2 border-b border-gray-400">
        <img class="inline-block h-8 w-8 rounded-full text-white shadow-solid mr-2" :src="avatarUrl(user)" />
        {{ user.id }} - {{ user.firstName }} {{ user.lastName }}
        <div class="inline float-right w-8 h-8 flex leading-none items-center justify-center text-red-400 bg-red-200" @click.prevent="deleteUser(user)">X</div>
      </router-link>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { PublicUser } from "@/../../shared/models";
import UserService from "@/services/UserService";

@Component
export default class Home extends Vue {
  users: PublicUser[] | null = null;

  async mounted() {
    this.users = await UserService.loadUsers();
  }

  avatarUrl(user: PublicUser) {
    return `https://i.pravatar.cc/150?img=${user.id}`;
  }

  async deleteUser(user: PublicUser) {
    if(confirm(`Do you really want to delete ${user.firstName} ${user.lastName} ?`)) {
      try {
        await UserService.deleteUser(user);
        location.reload();
      } catch (error) {
        console.error('Error deleting user', error);
      }
    }
  }
}
</script>

<style scoped>
.button {
  @apply inline-block border border-gray-300 bg-blue-300 rounded px-4 py-2 mb-4;
}
</style>